footer, .footer{
	display: grid;
	padding: 65px 10px;
	// grid-template-columns: repeat(3,minmax(auto, 320px)) minmax(320px, auto);
	background-color: @footer;
	color: white;
	h3{
		color:white;
		text-transform: uppercase;
		margin-bottom: 40px;
		font-size: 16px;
	}
	li{
		color:gray;
		margin-bottom: 12px;
		margin-right: 10px;
		&:hover{
			color:white;
		}
	}
	*{
		grid-row:1/ span 2;
		justify-items: start;
		text-transform: capitalize;
	}
	.subscribe{
		grid-column-start: 4;
		// grid-column-end: end-line;
		grid-row:2/ span 1;
		max-width: 360px;
		h3{
			margin-bottom: 50px
		}
		form{
			display: flex;
			padding:5px;
			border:2px solid gray;
		}
		input{
			flex-grow:1;
			background-color:transparent;
			border:none;
			color:white;
			padding-left:15px;
			&::placeholder {
  			color: gray; 
  			font-size: 12px;
		}
		}
		button{
			padding:7px 15px;
			background-color:gray;
			border:none;
			text-transform: uppercase;
			color: white;
			font-size: 12px
		}
		span{
			text-transform:lowercase;
			font-style: italic;
			font-family: 'Playfair Display', serif;
		}
	}
	.social{
		grid-row:1/ span 1;
		grid-column-start: 4;
		// grid-column-end: end-line;
		margin-bottom: 30px;
		h3{
			margin-bottom: 50px
		}
		ul{
			display: flex;
			li{
				background-color:white;
				border-radius: 50px;
				padding:10px 13.5px;
				margin: 0;
				margin-bottom: 10px;
				margin-right: 20px;
				font-size: 20px;
				color: black;
				box-sizing: border-box;
				border:1px solid transparent;
				&:hover{
					color:@yellow;
					border:1px solid currentcolor;
				}

			}
			
		}
	}
	.copy{
		grid-row:3/ span 1;
		grid-column-end:span 4;
		margin-top: 80px;
		position:relative;
		border-top: 1px solid gray;
		color:gray;
		padding-top: 35px;
		font-size: 12px;
		padding-bottom: 15px;
		small{
			text-transform: capitalize;
			font-size: 10px;
			display: block;
			margin-bottom: 7px;
		}
		&:before{
			@h:11px;
			@w:13px;
			position: absolute;
			border-top:@h solid currentcolor;
			border-left:@w solid transparent;
			border-right:@w solid transparent;
			position:absolute;
			top:0;
			left:calc(50% - @w);
			content: '';
			z-index: 0;
		}
	}
	.payments{
		grid-row:4/ span 1;
		grid-column-end:span 4;
		li{
			font-size: 30px;
			display: inline-block;
			vertical-align: middle;
			margin-left: 8px;
		}
		

	}

}
@media screen and (max-width: 864px){
footer,.footer{
	.subscribe{
		grid-column:1/ span 3;
		grid-row:4/ span 1;
		max-width: 360px;
	}
	.social{
		grid-row:3/ span 1;
		grid-column:1/ span 3;
		margin-bottom: 30px;
	}
	.copy{
		grid-row:5/ span 1;
	}
	.payments{
		grid-row:6/ span 1;
}
}}

@media screen and (max-width: 540px){
footer,.footer{
	.service, .information, .shops,.copy,.social,.subscribe,.payments{
		grid-row:auto /span 1;
		grid-column: 1/ span 4;
	}
	.service, .information, .shops{
		position:relative;
		ul{
			display: none;
		}
		h3:hover{
			color: @sand;
		}
		h3:after{
			content: "+";
			border:1px solid currentcolor;
			border-radius:30px;
			margin-left: 20px;
			padding:2px 9px;
			font-size: 20px;
			font-weight:bold;
			color: inherit;
		}
}

.social,.subscribe{
	justify-items:stretch;
	margin-right: auto;

}
.social{
	margin-top: 20px;
		ul{
		li{
			margin:0 10px 10px 0;
		}
			flex-wrap: wrap;
}
}}}