.hand-picked{
	display: grid;
	grid-template-columns: auto auto auto;
	// grid-template-columns:auto;
	grid-template-rows: 1fr 1fr;
	// grid-auto-rows: auto;
	position: relative;
	padding-top:80px;
	margin-bottom: 200px;
	.dark-field{
		@topoffs:20px;
		@leftoffs:15px;
		position:absolute;
		width: calc(100% - 2*@leftoffs);
		height:calc(100% - 2*@topoffs);;
		// background-color: rgba(0,0,0,0.5);
		top:@topoffs;
		left:@leftoffs;
		display: flex;
		align-items: flex-end;
		border: 3px solid white;
		&:after{
			display: block;
			content: "";
			height: 60px;
			width: 1px;
			background-color:@orange;
			position:absolute;
			bottom: calc(50% - 30px);
			left: calc(50% - 0.5px);
			visibility: hidden;
		}
		&:before{
			display: block;
			content: "";
			height: 1px;
			width: 60px;
			background-color:@orange;
			position:absolute;
			bottom: calc(50% - .5px);
			left: calc(50% - 30px);
			visibility: hidden;
		}
		}
	.shop-btn{
		background-color: @orange;
		text-transform: uppercase;
		cursor: pointer;
		padding:15px;
		margin:0 auto;
		margin-bottom: 30px;
		visibility: hidden;
		position:relative;
		color: white;

		}

	.poster-img{
		position:relative;
		&:nth-child(2),&:nth-child(3){
			margin-bottom: 10px;
		}
		&:nth-child(4){
		grid-column: 2 / span 1;
		grid-row: 1 / span 2;
		margin:0 15px;
		height: 100%;
		}
		.slide:nth-child(2){
			display: none;
		}
		img{
			width: 100%;
			height: 100%

		}
		
	}
	.poster-img:hover{
	 .dark-field{
		background-color: rgba(0,0,0,0.2);
		border:none;
		&:before, &:after{
			visibility: visible;
		}
	}
	.shop-btn{
		visibility: visible;
	}
}
		
}
@media screen and (max-width: 768px){
	.hand-picked{
	grid-template-columns: auto auto;
	grid-template-rows: auto auto auto;
	.poster-img{
		margin-bottom: 10px;
			&:nth-child(4){
			grid-column: 1 / span 1;
			grid-row: 1 / span 2;
			margin:0 10px 10px 0;
			height: auto;
			img{
				height: auto;

			}
			}
		&:nth-child(2),&:nth-child(3){
			margin-bottom: 10px;
			}
			&:nth-child(5){
				margin-right: 10px;
				height: auto;
			}
		}
	}
}
@media screen and (max-width: 540px){
	.hand-picked{
	grid-template-columns: auto;
	// grid-auto-columns: auto;
	.poster-img{
			&:nth-child(n), {
				margin-right: 0px;
				grid-column: 1 / span 1;
			}
		}
	}
}
