.promotion-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 120px;
}

.promotion-block {
  @h: 100px;
  flex: 1 1;
  margin: 0 25px;
  position: relative;
  height: @h;
  background-color: black;
  padding: 10px 20px 10px 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  color: white;
  &:nth-child(2) {
    justify-content: center;
    padding:10px 50px;
    &:before, &:after {
      position: absolute;
      content: '';
      display: block;
      border: 0.5*@h solid transparent;
      top: 0px;
      z-index:-1;
    }

    &:before {
      border-left: 0.5*@h solid white;
      z-index: 0;
      left: 0;
    }

    &:after {
      border-right: 0.5*@h solid white;
      right: 0;
      z-index: 0;
    }
  }

  &:nth-child(2n+1) {
    background-color: @sand;
    max-width: 390px;
    margin: 0;
    z-index: 1;
    &:after {
      position: absolute;
      content: '';
      display: block;
      border: 0.5*@h solid transparent;
      top: 0px;
    }
  }

  &:first-child:after {
    border-left: 0.5*@h solid @sand;
    right: -100px;
  }

  &:last-child:after {
    border-right: 0.5*@h solid @sand;
    right: 100%;
  }
  .icon{
    font-size: 3em;
    &:first-child{
      transform: rotate(-45deg);
    }
  }
  &>div{
    margin-left: 20px;
  }
  .statement{
    font-size: 1.9vmax;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
}

